name: Auto Update Weather Model

on:
  schedule:
    - cron: "0 * * * *"   # hourly
    - cron: "0 6 * * *"   # daily training (UTC)
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Hourly weather update
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          CITY: ${{ secrets.CITY }}
        run: |
          python daily_update.py

      - name: Daily model training (6 AM UTC only)
        run: |
          if [ "$(date -u +%H)" = "06" ]; then
            python daily_train.py
          else
            echo "Skipping daily training"
          fi

      - name: Sync, commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git pull --rebase origin main
          git add data model
          git commit -m "auto update weather data and model" || echo "No changes"
          git push origin main

      - name: Trigger Render Redeploy
        run: |
          curl -X POST "${{ secrets.RENDER}}"
